{% extends "base.html" %}



{% block content %}
<div class="Marketing-header-container">
    <div class="Marketing-header">
        <h3> Marketing Email</h3>
        <h5>{{ total_campaigns }} Records </h5>

    </div>
    <button class="send-button"><a href="{{ url_for('marketing.send_marketing_emails') }}">Create Email</a></button>
</div>







<!-- delete campaign  -->
<form action="{{ url_for('marketing.delete_email_campaign') }}" method="post">
    <button type="submit" id="campaign_deleteButton" style="display: none;"> Delete </button>
    <input type="hidden" name="deleting-campaign_id" id="deleting-campaign_id" value="">
</form>







<table  id="email_marketing_campaign_page">
    <tr>
        <th><input class="marketing-checkbox" input type="checkbox"> </th> <!-- New header for the select column -->
        <th>EMAIL NAME</th>
        <th>TOTAL EMAILS</th>
        <th>DELIVERED</th>
        <th>OPEN RATE</th>
        <th>CLICK RATE</th>
        <th>PUBLISH DATE</th>
        <th>LAST UPDATED BY</th>
    </tr>
    {% for campaign in campaigns %}



    <tr>
        <td><input  class="marketing-select" input type="checkbox" name="selected_campaigns" value="{{ campaign[3] }}"></td>
        <!-- Assuming campaign_id is now at index 3 -->
        <td><a href="{{ url_for('marketing.email_campaign_performance', campaign_id=campaign[3]) }}">{{ campaign[0]
                }}</a></td>
        <td>{{ campaign[1] }}</td>
        <td>{{ campaign[5] }}</td> <!-- Delivered count -->
        <td>{{ campaign[6] }}%</td> <!-- Open rate -->
        <td>{{ campaign[7] }}%</td> <!-- Click rate -->
        <td>{{ campaign[2].strftime('%B %d, %Y').capitalize() }}</td>
        <td>{{ campaign[4] }}</td>
    </tr>

    {% endfor %}
</table>





{% endblock %}