.email-activity {
    background: #19a1a60e;
    width: 60%;
    display: block;
    overflow-y: auto;
    
}

.email-activity-title {
    
    color: #03989E;
    font-weight: 400;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;

}

.email-activity-container {
    background-color: #ffffff;
    display: block;
    margin: auto;
    /* Top and bottom margin with auto side margins centers the card */
    clear: both;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    /* Adjust the width as needed */
    margin-top: 5%;
    padding: 5px;
    
}

.email-header {
    font-size: 1em;
    color: #03989E;
    font: helvetica;
    display: flex;
    padding: 1%;
    padding-bottom: 0;
    
    justify-content: space-between;
    
  


}

.header-block {
    display: flex;
    width: 50%
}



.subject {
    color: #03989E;
    width: 200px;
    margin-left: 1%;
    max-width: max-content;
}

.from-subject {
    font-size: 0.8em; /* Adjust font size if needed */
    color: #646464;
    display: inline; /* Make sure it's inline */
    margin-top: 20px;
    
}

.form-subject {
    color: #03989E;
    width: 700px;
    margin-left: 1%;
    flex: 1; /* Allow it to take up remaining space */
}
.form-dropdown {
    margin-top: 20px;
    cursor: pointer;
}
.form-feilds{
    display: flex;
    justify-content: space-between;
    border-top: #efefef 1px solid;
    
    padding: 20px 20px ;
    width: 90%;
    text-align: center;
    margin: auto;
}
.form-feilds:hover{
    background-color: #03999e1c;
}
.field-title{
    text-align: left;
    width: 300px;
}
.field-value{
    text-align: right;
}
.dropdown {
    margin-top: 1%;
    cursor: pointer;
}

.from {
    color: #646464;
    font-size: .8em;
    width: fit-content;
    padding: 1%;
    margin-left: 1%;
}

.email-body {
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    line-height: 1.5em;
}

.email-body-content {
    color: #333;
    font: helvetica 1.2em;
}

.email-content {
    margin-left: 2%;
    margin-top: 2%;

}

.activity-text {
    color: #646464;
    line-height: 1.5;
    margin-left: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    
    

}

.email-footer {
    font-size: 0.9rem;
    text-align: left;
    color: #333;
    margin-top: 1rem;

    font-family: "Lexend Deca", sans-serif;
}





.delete-form {
    margin-right: 10px;
    width: 50px;

}

.delete-text-link {
    color: #FF914C;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    margin-right: 50px;
    display: flex;
    font-size: .8em;
    width: 10px;
    height: 10px;
    border: none;
    background-color: transparent;


}

.delete-text-link:hover {
    text-decoration: underline;
}
.note-activity-container {
    background-color: #ffffff;
    display: block;
    margin: auto;
    /* Top and bottom margin with auto side margins centers the card */
    clear: both;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    /* Adjust the width as needed */
    margin-top: 5%;
}
.note-header{
    font-size: 1em;
    color: #03989E;
    font: helvetica;
    display: flex;
    
    justify-content: space-between;
    padding: 1%;
    padding-bottom: 0;
    align-items: center;
   
    
}
.header-container{
    display: flex;
    justify-content: space-between;
}
.noteSubject{
    display: flex;
    gap: 5px;
    margin-right: 20px;
    justify-content: space-between;
}
.fromNote {
    color: #646464;
    font-size: .8em;
    width: 130px;
    padding: 1%;
    
}
.note-body{
    margin-left: 15px; 
    color: #646464;
    font-size: .8em;
    padding-bottom: 10px;
    font-weight: 300;
    margin-top: 10px;
}
.dateNote{
    margin-left: 10px;
    font-size: .8em;
    color:#b6b5b5;
    margin-bottom: 10px;
}
.noteDelete{
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-style: none;
    display: flex;
    color:#FF914C;
    font-size: .8em;
    font-weight: bold;
    margin-right: 50px;
}
   

#noteDelete:hover{
    text-decoration: underline;
}
.delete-form {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .activity-container {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  small{
    font-size: .8em;
    
  }

  .marketing-title{
    width: 900px;
    margin-bottom: 10px;
  }
  .marketing-subject{
    font-size: .8em;
    display: inline;
    
  }
  .head{
    width: fit-content;
    display: flex;
    flex-direction: column;
  }