html, body {

    margin: 0; /* Remove default margin */
  }
  
  .email-form-container {
    background-color: #f9f9f9;
    
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 700px;
   
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    overflow: hidden;
    position: ABSOLUTE;
      left: 78%;
      TOP: 50%;
    transform: translate(-50%, -50%); /* Shift it back by its own dimensions */
  }
  .email-title{
    background: linear-gradient(90deg, rgba(3, 152, 158, 1) 32%, rgb(175, 213, 214) 100%);
    padding: 10px;
    display:flex;
    justify-content: space-between;
  }
  .expand{
    margin-right: 400px;
      margin-top: 2px;
      cursor: pointer;
  }
  .email-title h2{
    font: 2em helvetica ;
    color:#fff;
    margin-left: 5%;
    font-weight: 600
  }
  .form-group {
    margin-bottom: 10px;
    margin-left: 7%;
    font: helvetica;
    margin-top: 2%;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    margin-top: 10px;
    color: #646464;
  }
  .form-group input{
    width:600px;
    height:40px;
    border-style: none;
    border-bottom: 1px solid #03989E;
    font: 1em Helvetica;
    color: #FF914C;
  }
  .form-group--body{
    margin-bottom: 10px;
    margin-left: 7%;
    font: helvetica;
  
  }
  
  .form-group--body textarea {
    width: 92%;
    height:400px ;
    padding: 8px;
    margin-bottom: 10px;
    border-style:none ;
    border-radius: 4px;
    resize:none;
    overflow: auto;
    font: 1.3em helvetica;
    outline: none;
    color:#646464;
  
  } 
  .send-email-button {
    background-color: #FF914C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 40px;
    margin-bottom: 40px;
  }
  .send-email-button:hover {
    background-color: #e68549;
  }
  
  
  
  #notes{
    width: 548px;
    height: 300px;
    border-style: none;
    resize: none;
    margin-top: 40px;
    border-bottom: #e1e1e1 1px solid;
    padding: 10px;
  }
  .note-form-container{
    width:550px;
    background-color: #f9f9f9;
    
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
   
   
    
    border-radius: 10px;
    overflow: hidden;
    position: ABSOLUTE;
    left: 78%;
    TOP: 60%;
    transform: translate(-50%, -50%); /* Shift it back by its own dimensions */
    height: 470px;
  }
  .note-title{
    background: linear-gradient(90deg, rgba(3, 152, 158, 1) 32%, rgb(175, 213, 214) 100%);
    padding: 10px;
    align-items: center;
    display: flex;
    color: #fff;
  }
  .note-close{
    margin-left: 420px;
  }
  .send-note-button {
    background-color: #FF914C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .down{
    margin-left: 10px;
  }
  .noteForm{
    background-color: #fff;
  }