#customerLocationChart {
    max-width: 800px;
    max-height: 500px;
    width: 100%;
    height: auto;
    border-style: solid;
}


#gender-chart-container{

    border-style: solid;


}


#revenue-chart-container{

     border-style: solid;

}


#bookings-chart-container{

     border-style: solid;

}