.metrics-container {
  width: 95%;
  text-align: center;
  margin: auto;
  padding: 20px;
	padding-bottom: 40px;
	
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.metrics-container h2 {
  margin-bottom: 40PX;
  color: #646464;
  font-size: 1.8em;
  text-align: left;
  font-weight: 200;
}
.metric {
  display: inline-block;
  margin: 0 150px;

}

.metric-number {
  font-size: 3em;
  color: #FF914C;
  margin-top: 10px;
}

.metric-description {
  font-size: 1em;
  color: #646464;
  font-weight: 400;
  margin-top: 10px;
  text-transform: uppercase;
}

.percentage{
  font-size: 24px;
  color: #FF914C;
  
}


.receipient-metrics-container {
  width: 80%;
  /* Adjust width as needed */
 
  /* Light grey background, adjust color as needed */
  
  /* Blue left border, adjust color as needed */
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 100px;
  display: flex;
  margin: auto;
  justify-content: center;
}

.receipient-metrics-container h2 {
  color: #00bfff;
  /* Blue text for 'Sent', adjust color as needed */
  margin: 0;
  padding: 5px 0;
  /* Spacing around the 'Sent' title */
}

.receipient-metric-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  /* Spacing around each metric item */
}

.receipient-metric-item strong {
  color: #333;
  /* Dark text for metric names */
}

.receipient-metric-item span {
  color: #666;
  /* Lighter text for metric values, adjust as needed */
}





.recipient-table {
  margin-top: 20px;
  width: 90%;
  border-radius: 5PX;


}
.receipient-metrics{
  width: 20%;
  
  height: fit-content;
}
.metric-item strong{
  font-weight: 400;
  color: #646464;
}
.metric-item{
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.metric-item:hover{
  border-left: 2px solid #03989E;
  background-color: rgba(151, 194, 195, 0.7176470588)
}

.email-table {

  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: auto;
  
}

.email-table th,
.email-table td {
  padding: 20px;
  border-bottom: 1px solid #ddd;

}
.email-table td{
  font-size: 14px;
}
.email-table th {
  background-color: #ffffff;
  text-align: left;
  font-weight: 200;
}

.email-table tr:hover {
  background-color: #f5f5f5;
}

.opened {
  color: green;
}

.delivered {
  color: grey;
}



.rate {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10px;
  padding: 40px;



}



.email-marketing-header h3 {
  font-size: 2em;
  font-weight: 400;
}

.email-marketing-header h5 {
  font-size: 1em;
  font-weight: 400;
  color: #646464;
}
.rate{
	display: flex;
	text-align: center;
	justify-content: center;
	gap:5%;
	padding: 40px;
	width: 80%;
  margin: auto;

}
.rate-container{
	padding: 20px;
	padding-bottom: 40px;
	padding-top: 40px;
	background-color: #fff;
	
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin-top: 10px;
	

}
.rate-container h1{
 color: #646464;
 font-size: 24px;
 font-weight: 200;
 margin-right: 160px;
 padding-bottom: 30px;
 text-align: left;
}
.rate-container p{
 padding: 20px 20px;
 border-bottom: 1px solid rgb(238, 234, 234);
 width: 90%;
 margin: auto;
 display: flex;
 justify-content: space-between;
}
.metric-item span{
  font-family: "Lexend Deca", sans-serif;
  font-weight: 200;
  color: #646464;
}
.email-marketing-header{
	margin: 2% auto;
	padding: 10px;
  padding-top:90px ;
    color:#03989E;
    width: 95%;
    margin-top: 0%;
	
  

}
.email-marketing-header h3{
	font-size: 2em;
	font-weight: 400;
}
.email-marketing-header h5{
	font-size: 1em;
	font-weight: 400;
	color: #646464;
}
progress {
  width: 90%;
  height: 50px;
  margin-top: 10px;
  
  border-radius: 2px;
}

progress::-webkit-progress-bar {
  background-color: #f2f2f2;
  border-radius: 2px;
}

progress::-webkit-progress-value {
  background-color: #03989E;
  border-radius: 2px;
}

progress::-moz-progress-bar {
  background-color: #03989E;
  border-radius: 10px;
}

.email-marketing-analytics{
  background: #19a1a60e;
}