

.metrics-container {
            width: 100%;
            text-align: center;
            border-style: solid;
        }
.metric {
            display: inline-block;
            margin: 0 20px;
        }
.metric-number {
            font-size: 2em;
            color: #007bff;
        }
.metric-description {
            font-size: 1em;
            color: #333;
        }



.receipient-metrics-container {
            width: 300px; /* Adjust width as needed */
            background-color: #f9f9f9; /* Light grey background, adjust color as needed */
            border-left: 4px solid #00bfff; /* Blue left border, adjust color as needed */
            padding: 10px;
            box-sizing: border-box;
            margin-bottom: 100px;
        }
.receipient-metrics-container h2 {
            color: #00bfff; /* Blue text for 'Sent', adjust color as needed */
            margin: 0;
            padding: 5px 0; /* Spacing around the 'Sent' title */
        }
.receipient-metric-item {
            display: flex;
            justify-content: space-between;
            padding: 5px 0; /* Spacing around each metric item */
        }
.receipient-metric-item strong {
            color: #333; /* Dark text for metric names */
        }
.receipient-metric-item span {
            color: #666; /* Lighter text for metric values, adjust as needed */
        }





.recipient-table{
    margin-top: 20px;


}
.email-table {

    border-collapse: collapse;

  }
  .email-table th,
  .email-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  .email-table th {
    background-color: #f2f2f2;
  }
  .email-table tr:hover {background-color: #f5f5f5;}
  .opened {
    color: green;
  }
  .delivered {
    color: grey;
  }



