.create {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin: auto;
}
.create_logo {
  width: 600px;
  height: 400px;
}
.create_button {
  padding: 10px;
  margin-left: 4%;
  background-color: #FF914C;
  width: 200px;
  height: 50px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: sans-serif;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  background-color: #fff;
  z-index: 1000;
  width: 25%;
  height: 100%;
  border-radius: 2px 2px;
  box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.543);
}
.modal_title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: rgb(3, 152, 158);
  padding: 4%;
  background: linear-gradient(90deg, rgb(3, 152, 158) 32%, rgb(191, 232, 233) 100%);
}
.modal_title--header {
  font-family: sans-serif;
  font-size: 1.5em;
  color: white;
  margin-left: 5%;
}
.modal_title--close {
  margin-top: 2%;
  margin-right: 2%;
  cursor: pointer;
}
.modal_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
}
.modal_wrap {
  margin: 2%;
  margin-left: 15%;
}
.modal_wrap input {
  width: 20em;
  height: 2.5em;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 2px 2px 2px 2px;
  margin-bottom: 5%;
  color: #03989E;
  font-size: 1em;
}
.modal_wrap label {
  margin-right: 50%;
  font-family: sans-serif;
  margin-top: 5%;
  color: #959494;
}
.modal_wrap--gender {
  display: flex;
  width: 60%;
}
.modal_submit {
  margin-top: 10%;
  padding: 10px;
  background-color: #FF914C;
  width: 150px;
  height: 50px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: sans-serif;
  margin-left: 20%;
  margin-bottom: 5%;
}

.tour-select {
  width: 20em;
  height: 2.5em;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 2px 2px 2px 2px;
  color: #03989E;
  font-size: 1em;
}

.modal_wrap--gender input {
  width: 10%;
  margin-top: 4%;
}

.modal_wrap--gender input:checked {
  accent-color: #03989E;
}

#gender {
  color: #03989E;
  margin: auto;
  margin-left: 10px;
}

#gender label {
  margin-right: 5%;
}

.tour {
  display: none;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  background-color: #fff;
  z-index: 1000;
  width: 25%;
  height: 100%;
  border-radius: 2px 2px;
  box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.543);
}
.tour_header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: rgb(3, 152, 158);
  padding: 4%;
  background: linear-gradient(90deg, rgb(3, 152, 158) 32%, rgb(191, 232, 233) 100%);
}
.tour_header--title {
  font-family: sans-serif;
  font-size: 1.5em;
  color: white;
  margin-left: 5%;
}
.tour_header--close {
  margin-top: 2%;
  margin-right: 2%;
  cursor: pointer;
}
.tour_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
}
.tour_wrap {
  margin: 2%;
  margin-left: 15%;
}
.tour_wrap input {
  width: 20em;
  height: 2.5em;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 2px 2px 2px 2px;
  margin-bottom: 5%;
  color: #03989E;
  font-size: 1em;
}
.tour_wrap label {
  margin-right: 50%;
  font-family: sans-serif;
  margin-top: 5%;
  color: #959494;
}
.tour_wrap--type {
  display: flex;
  width: 60%;
}
.tour_submit {
  margin-top: 10%;
  padding: 10px;
  background-color: #FF914C;
  width: 150px;
  height: 50px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: sans-serif;
  margin-left: 20%;
  margin-bottom: 5%;
}

#destination {
  width: 20em;
  height: 2.5em;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 2px 2px 2px 2px;
  color: #03989E;
  font-size: 1em;
}

.tour_wrap--type input {
  width: 10%;
  margin-top: 4%;
}

.tour_wrap--type input:checked {
  accent-color: #03989E;
}

#type {
  color: #03989E;
  margin: auto;
  margin-left: 10px;
}

.tour_wrap--type label {
  margin-right: 10%;
}

#createCustomerBtn {
  background-color: #FF914C;
  width: 170px;
  height: 30px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: sans-serif;
  padding-bottom: 5%;
  margin-bottom: 5%;
  margin-top: 4%;
  margin-left: 0;
  padding-bottom: 7%;
}

#tourBtn {
  background-color: #FF914C;
  width: 150px;
  height: 30px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: sans-serif;
  margin-top: 4%;
  margin-bottom: 5%;
  padding-bottom: 5%;
  margin-left: 0;
  padding-bottom: 7%;
}

#table-container {
  border-radius: 10px 10px 10px 10px;
  margin: 2%;
  align-self: center;
}

#table-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(238, 234, 234);
}

#table-title {
  margin: 2%;
  font-family: Helvetica;
  font-size: 2em;
  color: #959494;
}

#table-action {
  display: flex;
  align-items: center;
  margin-right: 2%;
  gap: 2%;
  margin-top: 0%;
}

#deleteButton {
  margin-top: 2.5%;
  margin-right: 10%;
}

#deleteButton p {
  margin-top: 1.5%;
  color: #03989E;
  font-family: helvetica;
}

#delete-button-icon {
  margin-top: 2%;
}

th {
  padding: 10px;
  text-align: center;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.2em;
}

#data-table {
  background-color: rgb(191, 190, 190);
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
}

td {
  text-align: center;
  font: 1em Helvetica;
  font-weight: 200;
}

#table-body tr td {
  margin: 0;
  /* Remove margin */
  padding-top: 1%;
  padding-bottom: 1%;
}

#table-body tr:nth-child(even) td {
  background-color: #f2f2f2;
  /* Light background color for even rows */
}

#table-body tr:nth-child(odd) td {
  background-color: #ffffff;
  /* White background color for odd rows */
}

#data-table #select-box {
  width: 40px;
  /* Adjust this value as needed */
  min-width: 40px;
  padding: 5px;
  /* Adjust padding for better alignment if needed */
  text-align: center;
  /* Center align the checkbox */
}

#data-table td:first-child {
  width: 40px;
  /* Keep consistent with the header cell */
  min-width: 40px;
  text-align: center;
  /* Center align the checkbox */
}

.delete-checkbox {
  width: 2em;
  height: 2em;
  border: 2px solid grey;
}

td a {
  text-decoration: none;
  color: #03989E;
  text-transform: capitalize;
}

.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10%;
}
.dashboard_card {
  display: flex;
  width: 30%;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 2px 2px 2px 1px rgb(212, 212, 212);
}
.dashboard_icon {
  margin-top: 30%;
  border-right: 2px solid rgb(239, 237, 237);
}
.dashboard_container2 {
  margin-left: 5%;
}
.dashboard_header {
  font-family: Helvetica;
  font-size: 2.2em;
  margin-bottom: 0%;
  color: #03989E;
}
.dashboard_subheader {
  font-family: Helvetica;
  font-size: 1.2em;
  margin-top: 2%;
  font-weight: 100;
}

#deleteModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.modal-content {
  position: relative;
  background-color: #fff;
  margin: 10% auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 40%;
  max-width: 500px;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
}

.modal-content h2 {
  color: #FF914C;
  text-align: center;
  margin-bottom: 20px;
  font-family: Helvetica;
}

.modal-content p {
  color: #333;
  line-height: 1.5;
  margin-bottom: 20px;
}

#deleteConfirmInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
}

.modal-content button {
  display: inline;
  /* This will make the buttons sit side by side */
}

#confirmDeleteButton {
  background-color: #d9534f;
  color: white;
  display: block;
}

#confirmDeleteButton:hover {
  background-color: #c9302c;
}

button#cancel {
  background-color: #f0f0f0;
  color: #333;
}

button#cancel:hover {
  background-color: #e0e0e0;
}

.delete-background {
  display: flex;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(90deg, rgb(3, 152, 158) 32%, rgb(175, 213, 214) 100%);
  height: 100px;
  width: 100%;
  margin-top: 0px;
}

.delete-buttons {
  display: flex;
  margin-left: 5%;
}

.delete-title {
  margin-left: 30%;
  margin-top: 7%;
  font-family: Helvetica;
  text-shadow: gray 2px;
}

.delete-message-1 {
  text-align: center;
  font-family: Helvetica;
  font-size: 1.2em;
  margin-top: 5%;
}

.delete-message-2 {
  text-align: center;
  font-family: Helvetica;
  font-size: 1em;
}

.delete-message {
  padding: 5%;
}

#highlight {
  color: #FF914C;
  font-size: 1.2em;
}/*# sourceMappingURL=hompage.css.map */








  .pagination {
        list-style-type: none;
        display: flex;
        justify-content: center;
    }
    .pagination li {
        margin: 0 5px;
    }
    .pagination li a {
        text-decoration: none;
        padding: 5px 10px;
        border: 1px solid #ddd;
        color: #333;
    }
    .pagination li a:hover,
    .pagination li.active a {
        background-color: #03989e;
        color: white;
    }
    .pagination li.disabled span {
        padding: 5px 10px;
        border: 1px solid #ddd;
        color: #ccc;
    }
    #items-per-page {
        margin-left: 20px;
    }