@use 'variables' as *;
@use 'mixins' as *;

.create {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: auto;

    &_logo {

        width: 600px;
        height: 400px;

    }

    &_button {
        padding: 10px;
        margin-left: 4%;
        background-color: $ATorange;
        width: 200px;
        height: 50px;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: sans-serif;
    }
}


.modal {
    display: none;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    background-color: #fff;

    z-index: 1000;
    width: 25%;
    height: 100%;
    border-radius: 2px 2px;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.543);

    &_title {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        background: rgb(3, 152, 158);
        padding: 4%;
        background: linear-gradient(90deg, rgba(3, 152, 158, 1) 32%, rgba(191, 232, 233, 1) 100%);
    }

    &_title--header {
        font-family: sans-serif;
        font-size: 1.5em;
        color: $textColor1;
        margin-left: 5%;
    }

    &_title--close {
        margin-top: 2%;
        margin-right: 2%;
        cursor: pointer;
    }

    &_form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 5%;
        
    }
    &_wrap{
       margin: 2%;
       margin-left: 15%;
    }
    &_wrap input{
        width:20em;
        height: 2.5em;
        border: 1px solid rgb(180, 180, 180);
        border-radius: 2px 2px 2px 2px;
        margin-bottom: 5%;
        color: $ATblue;
     font-size: 1em;
    }
    &_wrap label{
        margin-right: 50%;
        font-family: sans-serif;
        margin-top: 5%;
        color: $textColor3;
    }
    &_wrap--gender{
        display: flex;
        width: 60%;
        
        
    }
    &_submit {
        margin-top: 10%;
        padding: 10px;

        background-color: $ATorange;
        width: 150px;
        height: 50px;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: sans-serif;
        margin-left: 20%;
        margin-bottom: 5%;
    }
}

.tour-select{
    width:20em;
    height: 2.5em;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 2px 2px 2px 2px;
    color: $ATblue;
    font-size: 1em;

}
#createCustomerBtn {
    background-color: $ATorange;
    width: 150px;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
    padding-bottom: 5%;
    margin-bottom: 5%;
    margin-top: 4%;


}

#tourBtn {
    background-color: $ATorange;
    width: 150px;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
    margin-top: 4%;
    margin-bottom: 5%;
    padding-bottom: 5%;

}


.modal_wrap--gender input{
    width:10%;
    margin-top: 4%;
}

.modal_wrap--gender input:checked {
    accent-color: $ATblue;
   
}


#gender {
    color: $ATblue;
    margin:auto;
    margin-left: 10px;
}
#gender label{
    margin-right: 5%;
}

#table-container {

    border-radius: 10px 10px 10px 10px;

    margin: 2%;
    align-self: center;
}

#table-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(238, 234, 234);



}

#table-title {
    margin: 2%;
    font-family: Helvetica;
    font-size: 2em;
    color: $textColor3;
}

#table-action {
    display: flex;
    align-items: center;
    margin-right: 2%;
    gap: 2%;
    margin-top: 0%;

}

th {
    padding: 10px; // Adjust padding as needed
    text-align: center;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 1.2em;


}

#data-table {
    background-color:rgb(191, 190, 190) ;
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
}

td {
    text-align: center;
    font: 1em Helvetica;
    font-weight: 200;
   

}

#table-body tr td {
    margin: 0;
    /* Remove margin */
    // padding: 1%; /* Remove padding */
    padding-top: 1%;
    padding-bottom: 1%;
}

#table-body tr:nth-child(even) td {
    background-color: #f2f2f2;
    /* Light background color for even rows */
}

#table-body tr:nth-child(odd) td {
    background-color: #ffffff;
    /* White background color for odd rows */
}

#data-table #select-box {
    width: 40px;
    /* Adjust this value as needed */
    min-width: 40px;
    padding: 5px;
    /* Adjust padding for better alignment if needed */
    text-align: center;
    /* Center align the checkbox */
}

#data-table td:first-child {
    width: 40px;
    /* Keep consistent with the header cell */
    min-width: 40px;
    text-align: center;
    /* Center align the checkbox */
}

.delete-checkbox {
    width:2em;
    height:2em;
    border: 2px solid grey;
}

td a{
    text-decoration: none;
    color: $ATblue;
    text-transform:capitalize;
}

.dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10%;

    &_card {
        display: flex;

        width: 30%;
        border-radius: 4px 4px 4px 4px;
        box-shadow: 2px 2px 2px 1px rgb(212, 212, 212);
    }

    &_icon {
        margin-top: 30%;
        border-right: 2px solid rgb(239, 237, 237);
    }

    &_container2 {
        margin-left: 5%;
    }

    &_header {
        font-family: Helvetica;
        font-size: 2.2em;
        margin-bottom: 0%;
        color: $ATblue;


    }

    &_subheader {
        font-family: Helvetica;
        font-size: 1.2em;
        margin-top: 2%;
        font-weight: 100;

    }
}