{% extends "base.html" %}



{% block content %}



<input type="hidden" id="login-user-role-id" value="{{ session['user_role_id'] }}">






<div id="contactExists" class="contact-exists-popup" style="display: none;">
    <p>Hold the phone! It looks like a contact with the email address <a id="existingEmailLink" href="#"></a> already
        exists.</p>
    <!-- Your content here like the initial image and name -->
</div>











<!-- form to add contacts -->
<div class="modal" id="popUp">
    <div class="modal_title">
        <h3 class="modal_title--header">Create contact</h3>

        <img class="modal_title--close" id="close" width="24" height="24"
            src="https://img.icons8.com/material-outlined/24/FFFFFF/delete-sign.png" alt="delete-sign" />
    </div>

    <form class="modal__form" action="{{ url_for('contacts.adding_new_contact') }}" method="post">
        <!-- Email -->
        <div class="modal_wrap">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>



        <!-- First Name -->
        <div class="modal_wrap">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="first_name" required>
        </div>

        <!-- Last Name -->
        <div class="modal_wrap">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="last_name" required>
        </div>




        <!-- alternate forms  -->

        <div id="additionalFields" style="display:none;">

            <!-- Phone -->
            <div class="modal_wrap">
                <label for="phone">Phone</label>
                <input type="tel" id="phone" name="phone" required>
            </div>


            <!-- State (Dropdown with all states and initials) -->
            <div class="modal_wrap">
                <label for="state">State:</label>
                <select id="state" name="state">
                    <option value="">None</option>
                    {% for state in states %}
                    <option value="{{ state }}">{{ state }}</option>
                    {% endfor %}
                </select>
            </div>


            <!-- Gender Option -->
            <div class="modal_wrap">
                <label>Gender</label>
                <div class="modal_wrap--gender">
                    <input class="radio" id='radio' type="radio" id="male" name="gender" value="male">
                    <label id='gender' for="male">Male</label>
                    <input class="radio" id='radio' type="radio" id="female" name="gender" value="female">
                    <label id='gender' for="female">Female</label>

                </div>
            </div>



            <!-- contact status -->
            <div class="contact-status">
                <label>Contact status</label>
                <select name="lead_status">
                    <option>Lead</option>
                    <option>Customer</option>
                </select>
            </div>



        </div>




        <!-- Submit Button -->
        <div class="modal_wrap">
            <button class="modal_submit" id="contact-submit-button" type="submit">Create contact</button>
        </div>

    </form>

</div>




















<!-- delete pop form  -->
<div id="deleteModal" style="display: none;">
    <!-- The modal content -->
    <div class="modal-content">

        <div class="delete-background">
            <h2 class="delete-title">Delete 1 Record?</h2>
            <img class="close" id="exit" width="24" height="24" onclick="closeModal()"
                src="https://img.icons8.com/material-outlined/24/FFFFFF/delete-sign.png" alt="delete-sign" />
        </div>
        <div class="delete-message">
            <p class="delete-message-1">You're about to delete 1 record. Deleted records can't be restored.</p>
            <p class="delete-message-2">Type <strong id="highlight">delete</strong> below to delete</p>
            <input type="text" id="deleteConfirmInput" oninput="validateDeleteInput(this)"
                placeholder="Type 'delete' to confirm">


            <form id="deleteConfirmForm" action="{{ url_for('contacts.delete_contact') }}" method="post"
                style="display: none;">
                <input type="hidden" id="customerIdToDelete" name="customer_id" value="">
                <div class="delete-buttons">
                    <button class="delete-buttons-1" type="submit" id="confirmDeleteButton" disabled>Delete</button>
                    <button class="delete-buttons-2" type="button" onclick="closeModal()">Cancel</button>
                </div>

            </form>
        </div>



    </div>

</div>






<!-- update customer details form -->
<div id="updateModal" style="display: none;">
    <div class="modal-content">
        <div class="updatemodal-background">
            <h2 class="updatemodal-title">Edit Customer</h2>
            <img class="close-button" id="exit" width="24" height="24" onclick="closeModal()"
                src="https://img.icons8.com/material-outlined/24/FFFFFF/delete-sign.png" alt="delete-sign" />
        </div>
        <form class="updatemodal_form" action="{{ url_for('contacts.send_update') }}" method="post">



            <input type="hidden" id="customerIdToUpdate" name="updatecustomer_id" value="">

            <!-- First Name -->
            <div class="updatemodal_container">
                <div class="updatemodal_wrap">
                    <label for="firstName">First Name</label>
                    <input type="text" id="updatefirstName" name="updatefirst_name" required>
                </div>

                <!-- Last Name -->
                <div class="updatemodal_wrap">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="updatelastName" name="updatelast_name" required>
                </div>
            </div>

            <div class="updatemodal_container">
                <div class="updatemodal_wrap">
                    <label for="email">Email</label>
                    <input type="email" id="updateemail" name="updateemail" required>
                </div>


                <!-- Phone -->
                <div class="updatemodal_wrap">
                    <label for="phone">Phone</label>
                    <input type="tel" id="updatephone" name="updatephone" required>
                </div>
            </div>
            <!-- Email -->

            <div class="updatemodal_container">
                <div class="updatemodal_wrap">
                    <label for="state">State</label>
                    <input type="text" id="updatestate" name="updatestate">
                </div>

                <!-- Gender Option -->
                <div class="updatemodal_wrap">
                    <label>Gender</label>
                    <div class="updatemodal_wrap_gender">
                        <input class="radio" id='updateradio' type="radio" id="male" name="updategender" value="male">
                        <label id='updategender' for="male">Male</label>
                        <input class="updateradio" id='updateradio' type="radio" id="female" name="updategender"
                            value="female">
                        <label id='updategender' for="female">Female</label>

                    </div>
                </div>
            </div>




            <div class="updatemodal_wrap">
                <button class="updatemodal_submit" type="submit">Update</button>
            </div>

        </form>
    </div>
</div>


<!-- importing contacts pop up form  -->

<div class="import-container" style="display: none;" id='import_form'>
    <div class="importForm">
        <div class="export-header">

            <h3>Import</h3>
            <img class="closeExport-button" id="exportClose" width="24" height="24" onclick="closeimportModal()"
                src="https://img.icons8.com/material-outlined/24/FFFFFF/delete-sign.png" alt="delete-sign" />
    
        </div>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    
    
        <form action="{{ url_for('importing.upload_file') }}" method="post" enctype="multipart/form-data" class="import">
            <div class="importing-contacts">
                <label for="contact_file">Upload File:</label>
                <input type="file" id="contact_file" name="file" accept=".csv">
            </div>
            <div class="importing-contacts">
                <button type="submit">Import Contacts</button>
            </div>
        </form>

    </div>
    

</div>





<!-- exporting file pop up form or container  -->

<div style="display:none;" id='export_form' class="export-container">

    <form class="exportForm" action="{{ url_for('exportingFile.export_file') }}" method="post">
        <div class="export-header">

            <h3>Export</h3>
            <img class="closeExport-button" id="exportClose" width="24" height="24" onclick="closeExportModal()"
                src="https://img.icons8.com/material-outlined/24/FFFFFF/delete-sign.png" alt="delete-sign" />

        </div>
        <div class="export-info-container">
            <div class="export-message">
                <p>The exported file will be emailed to {{login_user_email}} and will be available for download</p>
            </div>

            <div>
                <p>Exporting {{customers_total}} contacts </p>
            </div>

            <h3 class='export-header2'>Choose file format</h3>
            <select class="export-select" id="option-select" name="export_file_type">
                <option value="csv">csv</option>
                <option value="excel">excel</option>
            </select>
            <br>
            <!-- <input type="submit" value="Submit"> -->
            <button class="export-submit" type="submit">Export now</button>
        </div>
    </form>


</div>












<div id="table-container">

    <div id="loadingSpinner" class="loading-spinner">
        <!-- Spinner graphic, simple example -->
        <div class="loader"></div>
    </div>


    <!-- Table Header -->
    <div id="table-header">
        <div id="customer-header">
            <h3 id="table-title">Contacts</h3>
            <h3 id="total">{{"{:,}".format(customers_total)}} Records</h3>
        </div>

        <div id="table-action">
            <button id="createCustomerBtn">Create contact</button>
            <!-- <button id="tourBtn">Create Tour</button> -->
        </div>

    </div>

    <!-- Search and Actions Container -->
    <div class="search-container">
        <form id="searchForm" class="search-form" action="{{ url_for('contacts.home_page') }}"
            data-home-url="{{ url_for('contacts.home_page') }}" method="post">
            <input id="searchInput" type="search" name="search_query" placeholder="Search name">
            <button class="search" type="submit">
                <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/FF914C/search--v1.png"
                    alt="search-icon" />
            </button>
        </form>

        <div class="action-container">
            <div id="deleteButton" onclick="showModal()">
                <img id="delete-button-icon" width="16" height="16"
                    src="https://img.icons8.com/small/16/FF914C/filled-trash.png" alt="delete-icon" />
                <p>delete</p>
            </div>

            <form action="{{ url_for('contacts.get_customer_details') }}" method="get">
                <div id="updateButton" onclick="showUpdateModal()">
                    <img width="16" height="16" src="https://img.icons8.com/ios-filled/50/FF914C/create-new.png"
                        alt="edit-icon" />
                    <input type="hidden" id="customerIdToUpdate" name="customer_id" value="">
                    <p>edit</p>
                </div>
            </form>
        </div>


        <div class="export-div">
            <button onclick="show_exportButton()" id="export_button" class="export ">export</button>
            <button class="import" id="import_button" onclick="show_importButton()">import</button>

            
        </div>


    </div>

    <!-- Static Table Header -->
    <table id="data-table">
        <thead id="table-head">
            <tr>
                <th id="select-box">
                    <input type="checkbox" class="delete-checkbox">
                    <label for="select-all"></label>
                </th>
                <th>Name</th>
                <th>Email</th>
                <th>State</th>
                <th>Phone Number</th>
                <th>Contact Status</th>


            </tr>
        </thead>
    </table>

    <!-- Scrollable Table Body -->
    <div class="table-container-scroll-bar">
        <table>
            <tbody id="table-body">
                {% include 'table_body.html' %}
            </tbody>
        </table>
    </div>
</div>








{% include 'table_paginations.html' %}



</div>

{% endblock %}