<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Torch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

</head>

<body>

  




<div class="login-container">
  <img class="logo-img" src="{{ url_for('static', filename='images/logo.png') }}" alt="Travel Salesman Logo" width="800" height="400">
	<h1>LOGIN </h1>
  <div class="auth-message"></div>
  <form action="{{ url_for('users.login_user_route') }}" method="post">
    <div class="form-group">
      <input type="email" id="email" name="email" placeholder="Email address" required>
    </div>
    <div class="form-group">
      <input type="password" id="password" name="password" placeholder="Password" required>
    </div>


    <input type="hidden" id="timezone" name="timezone">
    <div class="form-group">
     <input type="submit" id="submit-button" value="Log in" >
    </div>

  </form>
</div>



<script>
document.addEventListener('DOMContentLoaded', function() {
    // Capture the user's timezone and set it in the hidden input field
    const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
    console.log(timezone)
    document.getElementById('timezone').value = timezone;
});
</script>


</body>
</html>