




<!-- templates/table_body.html -->
{% for customer in customers %}
    <tr>
        <td>
            <input type="checkbox" class="delete-checkbox" value="{{ customer[0] }}" id="delete-customer-{{ loop.index }}" onchange="toggleDeleteButton(this); updateCustomerDetails(this)">
        </td>
        <td>
            <a href="{{ url_for('profiles.contact_profile', contact_id=customer[0]) }}">{{ customer[1].capitalize() }}</a>
        </td>
        <td>
            <a href="mailto:{{ customer[3] }}"> {{ customer[3].lower() }}</a>
        </td>
        <td class="contact_owner" id="contact-owner-{{ customer[0] }}" onclick="showUserList({{ customer[0] }});">
            {{ customer[6].capitalize() if customer[6] is not none else 'Unassigned' }}
        </td>

        <td class="state">
           {{ customer[2].upper() if customer[2] and customer[2].strip() else '--' }}

        </td>
        <td class="phone" >{{ format_phone_number(customer[4]) if customer[4] else '--'}}</td>
        <td class="lead">{{ customer[5].capitalize() }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="6" style="text-align:center;">No results found. Please try another search.</td>
    </tr>
{% endfor %}
