




<!-- templates/table_body.html -->
{% for customer in customers %}
    <tr>
        <td>
            <input type="checkbox" class="delete-checkbox" value="{{ customer[0] }}" id="delete-customer-{{ loop.index }}" onchange="toggleDeleteButton(this); updateCustomerDetails(this)">
        </td>
        <td>
            <a href="{{ url_for('profiles.contact_profile', contact_id=customer[0]) }}">{{ customer[1].capitalize() }}</a>
        </td>
        <td>
            <a href="mailto:{{ customer[3] }}"> {{ customer[3].lower() }}</a>
        </td>
        <td class="state">
            {{ customer[2].upper() if customer[2] is not none else '' }}
        </td>
        <td class="phone">{{ format_phone_number(customer[4]) }}</td>
        <td class="lead">{{ customer[5].capitalize() }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="6" style="text-align:center;">No results found. Please try another search.</td>
    </tr>
{% endfor %}
