.send-button a {
	color: white;
	text-decoration: none;
	font-family: "Lexend Deca", sans-serif;
}



.marketing-container {
	width: 50%;
	margin: auto;
	margin-top: 20px;
	border-radius: 5px 5px;
	padding-bottom: 50px;
	
	

}

.marketing-form {
	margin: auto;
}

.marketing_title {

    margin-right: 50px;
    border-bottom: 2px solid rgb(238, 234, 234);
    width: 100%;
    padding-bottom: 20px;
    font-weight: 400;
    color: #959494;
}

.marketing_title--header {
	font-weight: 400;
	font-size: 2em;
	
}

.marketing-form-group {
	margin-bottom: 10px;
	margin-left: 7%;
	font: helvetica;
	margin-top: 2%;
}

.marketing-form-group label {
	display: block;
	margin-bottom: 5px;
	font-weight: 600;
	margin-top: 30px;
	color: #646464;
}

.marketing-form-group input {
	width: 600px;
	height: 40px;
	border-style: none;
	border-bottom: 1px solid #03989E;
	font: 1em Helvetica;
	color: #03989E;
}



.marketing-form-control {
	width: 600px;
	height: 30px;
	color: #03989E;
	border: 1px solid rgb(180, 180, 180);
}

.subject-form-control {
	width: 800px;
	color: #03989E;
}

.body-form-control {
	width: 600px;
	border-color: 1px solid#03989E;
	resize: none;
	overflow: auto;
	height: 400px;
}

#email-body {
	border-color: 1px solid#03989E;
}

.marketing-send {
	margin-top: 40px;
	margin-left: 50px;
	width: 100px;
	color: #fff;
	background-color: #FF8C00;
	border-style: none;
	padding: 10px;
	font-weight: 300;
	border-radius: 5px;
}