.event-highlight {
        background-color: #ff9f89; /* Custom background color */
        border-color: #ff675c; /* Custom border color */
        color: #ffffff; /* Custom text color */
    }



.event-highlight {
    background-color: #ff9f89; /* Example background color for the event dates */
}

