



{% block content %}
{% include "settings_base.html" %}

<h1>General Profile</h1>

<form>

<div>
	<div>
        <label for="profileImage">Profile Image</label>
        <h1 style="color: red;" class="profile-avatar-letter">{{ user_name }}</h1>
        
    </div>

    <div>
        <label for="firstName">First name</label>
        <input type="text" id="firstName" name="first_name" required>
    </div>

    <div>
        <label for="lastName">Last name</label>
        <input type="text" id="lastName" name="last_name" required>
    </div>

	

</form>


{% endblock %}