{% block content %}
{% include "settings_base.html" %}


<div class="tour" id="tourForm" style="display: block;">

<h1>Tours</h1>




<div>
    <button id="tourBtn">Add new tour</button>
</div>



<div class="tour" id="tourForm">

    <div class="tour_header">
        <h1 class="tour_header--title">Add New Tour</h1>
    </div>

    <form class="tour_form" action="{{ url_for('contacts.add_new_tours') }}" method="post">
        <div class="tour_wrap">
            <label for="first_name">Name</label>
            <input type="text" id="name" placeholder="(avoid: /!@#$%^&* )" name="name">
        </div>
        <div class="tour_wrap">
            <label for="start_date">Start Date</label>
            <input type="text" id="start_date" placeholder="e.g 2020-01-07" name="start_date">
        </div>
        <div class="tour_wrap">
            <label for="end_date">End Date</label>
            <input type="text" id="end_date" placeholder="e.g 2020-01-10" name="end_date">
        </div>
        <div class="tour_wrap">
            <label for="price">Price</label>
            <input type="number" id="price" name="price">
        </div>

        <div class="tour_wrap">
            <label>Type of Tour</label>
            <div class="tour_wrap--type">
                <input  class="radio" type="radio" name="tour_type" value="private">
                <label for="male">Private</label>
                <input class="radio" type="radio"  name="tour_type" value="group">
                <label for="female">Group</label>
            </div>

        </div>

        <div class="tour_wrap">
            <label for="destination">Choose Destination:</label>
            <select id="tour_destination" name="destination">
                {% for destination in destinations %}
                <option value="{{ destination }}">{{ destination }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="tour_wrap">
            <button class="tour_submit" type="submit">Submit</button>
        </div>

       
    </form>
</div>






<!-- available tours table -->
<table>
    <tr>
      <th><input type="checkbox"></th>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Price</th>
      <th>Destination</th>
      <th>Tour Type</th>
    </tr>
    {% for tours in tours_scheduled %}
    <tr>
      <td><input type="checkbox" data-user-id="{{ tours[0] }}" class="user-checkbox"> </td>
      <td>{{ tours[1]}}</td>
      <td>{{ tours[2]}}</td>
      <td>{{ tours[3]}}</td>
      <td>{{ tours[4]}}</td>
      <td>{{ tours[5]}}</td>
      <td>{{ tours[6]}}</td>
     
  
    </tr>
    {% endfor %}
  </table>


{% endblock %}