{% extends "base.html" %}



{% block content %}



<link rel="stylesheet" href="{{ url_for('users.static', filename='css/user_settings.css') }}">




<h1>Settings</h1>

<h2>Your Preferences </h2>



</div>

<a href="{{ url_for('users.user_profile')}}"><l1>General</l1></a>

<h2>Account Setup</h2>

<a href="{{ url_for('users.settings_users')}}"><li>Users & Teams</li></a>


<h2>Service Management</h2>

<a href="{{ url_for('users.services')}}"><li>add new tours</li></a>

  <script src="{{ url_for('users.static', filename='js/profile_settings.js') }}"></script>


    

 
{% endblock %}