{% extends "base.html" %}



{% block content %}



<link rel="stylesheet" href="{{ url_for('users.static', filename='css/user_settings.css') }}">
<link rel="stylesheet" href="{{ url_for('users.static', filename='css/settings_nav.css') }}">
<link rel="stylesheet" href="{{ url_for('users.static', filename='css/general.css') }}">
<link rel="stylesheet" href="{{ url_for('users.static', filename='css/service.css') }}">
<link rel="stylesheet" href="{{ url_for('users.static', filename='css/tours_pagination.css') }}">

<div class="settings-nav">
  <div class="settings-navheader">
    <h1>Settings</h1>

  </div>
  <div class="settings-navlink">
    <h2>Your Preferences </h2>
    <a href="{{ url_for('users.user_profile')}}">
      <li>General</li>
    </a>
  </div>
  <div class="settings-navlink">
    <h2>Account Setup</h2>
    <a href="{{ url_for('users.settings_users')}}">
      <li>Users & Teams</li>
    </a>
  </div>
  <div class="settings-navlink">
    <h2>Service Management</h2>

    <a  href="{{ url_for('users.tour_services')}}">
      <li class="last">Tours</li>
    </a>
  </div>
</div>



<script src="{{ url_for('users.static', filename='js/profile_settings.js') }}"></script>
<script src="{{ url_for('users.static', filename='js/tours.js') }}"></script>

{% endblock %}