






{% block content %}
{% include "settings_base.html" %}




<!-- remove user from account  forms-->
<form id="remove-user-form"  action="{{ url_for('users.remove_a_user') }}" method="post">
	<input type="hidden" name="user_id" id="hiddenUserId" value="">
    <button type="submit">Remove from account</button>
</form>



<!-- create user button  -->
 <div class="create-user-button">
 	 <button type="button">Create new user</button>
 </div>
   



<!-- create user forms  -->
<form class="new-user-form" id="inviting-new-user" action="{{ url_for('users.creating_users') }}" method="post">
	<label>Add a new user to your Marrakesh account</label>
	<label>first name</label>
	<input type="text" name="user_first_name" required>
	<label>last name</label>
	<input type="text" name="user_last_name" required>
		<label>Email</label>
	<input type="Email" name="new-user-email" required>

	<label>Chose new user role and access</label>
	<select name="role_id" required>
		{% for role in available_roles%}
		
		<option value="{{ role[0] }}">{{role[1]}}</option>

		{% endfor %}
		
	</select>


	<button type="submit">invite user </button>
	
</form>





<!-- users in the account table -->
<table>
  <tr>
    <th><input type="checkbox"></th>
    <th>Name</th>
    <th>Email</th>
    <th>Access Role</th>
  </tr>
  {% for user in users %}
  <tr>
    <td><input type="checkbox" data-user-id="{{ user[0] }}" class="user-checkbox"> </td>
    <td>{{ user[1] }} {{ user[2] }}</td>
    <td>{{ user[3] }}</td>
    <td>{{ user[4] if user[4] else 'No role assigned' }}</td>
  </tr>
  {% endfor %}
</table>



{% endblock %}
