<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Torch</title>
    <!-- Add your stylesheet links here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hompage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/email_form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/email_activity.css') }}">

   <!--  <link href="https://fonts.googleapis.com/css2?family=Segoe+UI:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->

</head>
<body>
    <header >
        <nav class="nav">
            <div class="nav_logo">
                <!-- Logo can be text or an image -->
                <a href="{{ url_for('customers.home_page') }}">
                    <img src="{{ url_for('static', filename='images/logo.png') }}">
                </a>
                
            </div>
            <ul class="nav_links">
                <li class="nav_link"><a href="tours.html">Tours</a></li>
                <li class="nav_link"><a href="bookings.html">Bookings</a></li>
                <li class="nav_link"><a href="customers.html">Customers</a></li>
                <li class="nav_link"><a href="contact.html">Contact</a></li>
                <li class="nav_link"id="logout-button"><a href="{{ url_for('users.log_out')}}">Logout</a></li>
                <span class="nav_welcome" id="welcome-message">Welcome   {{username}}</span>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Main content of the page goes here -->
        {% block content %}
        {% endblock %}
    </main>

    

    <!-- Add your scripts here -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

