{% extends "base.html" %}



{% block content %}

<div class="email-marketing-analytics">
  <!--message for emails processing-->

  <div id="email-processing-message" style="display:none;">
    <p>Email sending is currently processing . Return back in a few minutes to see metrics!</p>
  </div>





  <div class="email-marketing-header">
    <h3 class="email-marketing-title">Dive into Our New Language Guide! : Explore Africa with Confidence </h3>
  </div>

  <!-- delivery metrics  -->


  <div class="metrics-container">
    <h2>Delivery</h2>
    <div class="metric">

      <h3 class="metric-description">Successful Deliveries</h3>
      <h5 class="metric-number">{{ successful_deliveries }}</h5>
      <p class="percentage" id="successful-deliveries-percentage">{{ delivery_percentage }}%</p>
    </div>

    <div class="metric">

      <h3 class="metric-description">Bounces</h3>
      <h5 class="metric-number">{{ bounces }}</h5>
      <p class="percentage" id="bounces-percentage">{{ bounce_percentage }}%</p>

    </div>

    <div class="metric">

      <h3 class="metric-description">Unsubscribes</h3>
      <h5 class="metric-number">{{ unsubscribes }}</h5>
      <p class="percentage" id="unsubscribes-percentage">{{ unsubscribe_percentage }}%</p>
    </div>

    <div class="metric">

      <h3 class="metric-description">Spam Reports</h3>
      <h5 class="metric-number">{{ spam_reports }}</h5>
      <p class="percentage" id="spam-reports-percentage">{{ spam_report_percentage }}%</p>
    </div>
  </div>








  <!-- open rate div -->
  <div class="rate">
    <!-- <div  class="rate-container">
	
    {% if open_rate is not none %}
          <h1  >{{ open_rate|round }}%</h1>
      {% else %}
          <h1 >None</h1>
      {% endif %}
      
      <h2>Open Rate</h2>
     <p>Unique opens: {{ unique_opens }}</p>
     <p>Total opens: {{ total_opens }}</p>
  
  </div> -->
    <div class="rate-container">
      {% if open_rate is not none %}
      <h1>Open Rate <span class="percentage">{{ open_rate|round }}%</span></h1>
      <progress value="{{ open_rate }}" max="100"></progress>
      {% else %}
      <h1>None</h1>
      {% endif %}


      <p>Unique opens<span>{{ unique_opens }}</span> </p>
      <p>Total opens <span>{{ total_opens }}</span></p>
    </div>



    <!-- clicks rate div -->
    <div class="rate-container">


      <h1>Click Rate <span class="percentage">{{ click_events.click_rate|round }}%</span></h1>
      <progress value="{{ click_events.click_rate }}" max="100"></progress>

      <p>Unique Clicks<span>{{ click_events.unique_clicks }}</span> </p>
      <p>Total Clicks<span>{{ click_events.total_clicks }}</span></p>

    </div>


  </div>






  <div class="receipient-metrics-container">
    <div class="receipient-metrics">

      <div class="metric-item">
        <strong>Sent</strong><span>{{ total_emails_sent }}</span>
      </div>
      <div class="metric-item">
        <strong>Delivered</strong><span>{{ successful_deliveries }}</span>
      </div>
      <div class="metric-item">
        <strong>Opened</strong><span>{{ total_opens }}</span>
      </div>
      <div class="metric-item">
        <strong>Clicked</strong><span>{{ click_events.total_clicks }}</span>
      </div>
      <div class="metric-item">
        <strong>Bounced</strong><span>{{ bounces }}</span>
      </div>
      <div class="metric-item">
        <strong>Unsubscribed</strong><span>{{ unsubscribes }}</span>

      </div>




    </div>





    <div class="recipient-table">
      <table class="email-table">
        <thead>
          <tr>
            <th>Recipient</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for contact_id, full_name, campaign_id, event_type in events %}
          <tr>
            <td>
              <!-- Full name as a clickable link -->
              <a href="{{ url_for('profiles.contact_profile', contact_id=contact_id) }}">
                {{ full_name }}
              </a>
              <!-- Hidden inputs for storing additional data -->
              <input type="hidden" name="campaign_id" value="{{ campaign_id }}">
              <input type="hidden" name="event_type" value="{{ event_type }}">
            </td>
            <td class="{{ event_type|lower }}">{{ event_type }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


    {% include 'marketing_pagination.html' %}


    {% endblock %}
  </div>

</div>