{% extends "base.html" %}



{% block content %}
  
  <button class="send-button"><a href="{{ url_for('marketing.create_marketingEmails') }}">Create Email</a></button>

<style >
  
#email_marketing_campaign_page {
            width: 100%;
            border-collapse: collapse;
        }

#email_marketing_campaign_page table, th, td {
            border: 1px solid black;
        }
#email_marketing_campaign_page th, td {
            padding: 8px;
            text-align: left;
        }

#email_marketing_campaign_page th {
            background-color: #f2f2f2;
           
 }


</style>



<!-- delete campaign  -->
<form action="{{ url_for('marketing.delete_email_campaign') }}" method="post">
    <button type="submit" id="campaign_deleteButton" style="display: none;"> Delete </button>
    <input type="hidden" name="deleting-campaign_id" id="deleting-campaign_id" value="">
</form>







   <table id="email_marketing_campaign_page">
    <tr>
        <th><input type="checkbox"> </th> <!-- New header for the select column -->
        <th>EMAIL NAME</th>
        <th>TOTAL EMAILS</th>
        <th>DELIVERED</th>
        <th>OPEN RATE</th>
        <th>CLICK RATE</th>
        <th>PUBLISH DATE</th>
        <th>LAST UPDATED BY</th>
    </tr>
    {% for campaign in campaigns %}



    <tr>
        <td><input type="checkbox" name="selected_campaigns" value="{{ campaign[3] }}"></td> <!-- Assuming campaign_id is now at index 3 -->
        <td><a href="{{ url_for('marketing.email_campaign_performance', campaign_id=campaign[3]) }}">{{ campaign[0] }}</a></td>
        <td>{{ campaign[1] }}</td>
        <td>{{ campaign[5] }}</td> <!-- Delivered count -->
        <td>{{ campaign[6] }}%</td> <!-- Open rate -->
        <td>{{ campaign[7] }}%</td> <!-- Click rate -->
        <td>{{ campaign[2].strftime('%B %d, %Y').capitalize() }}</td>
        <td>{{ campaign[4] }}</td>
    </tr>

    {% endfor %}
</table>



  

{% endblock %}