{% extends "base.html" %}



{% block content %}


<!-- <div class="dashboard">

    <div class="dashboard_card">
        <div class="dashboard_container1">
            <img class="dashboard_icon" width="64" height="64"
                src="https://img.icons8.com/windows/64/ff914c/stocks-growth.png" alt="stocks-growth" />
        </div>
        <div class="dashboard_container2">
            <h1 class="dashboard_header">${{revenue}}</h1>
            <h5 class="dashboard_subheader">Gross revenue since {{year}} </h5>
        </div>

    </div>
    <div class="dashboard_card">
        <div class="dashboard_container1">
            <img class="dashboard_icon" width="64" height="64"
                src="https://img.icons8.com/pastel-glyph/64/FF914C/person-male--v3.png" alt="person-male--v3" />
        </div>
        <div class="dashboard_container2">
            <h1 class="dashboard_header">{{total_travelers}}</h1>
            <h5 class="dashboard_subheader">Total number of travellers since {{year}}</h5>
        </div>

    </div>
    <div class="dashboard_card">
        <div class="dashboard_container1">
            <img class="dashboard_icon" width="64" height="64"
                src="https://img.icons8.com/material-sharp/64/ff914c/economic-improvement.png"
                alt="economic-improvement" />
        </div>
        <div class="dashboard_container2">
            <h1 class="dashboard_header">$107,60.0</h1>
            <h5 class="dashboard_subheader">Profit generated since {{year}}</h5>
        </div>

    </div>

</div>
 -->






<!-- form to add customers -->
<div class="modal" id="popUp">
    <div class="modal_title">
        <h3 class="modal_title--header">Create Costumer</h3>

        <img class="modal_title--close" id="close" width="24" height="24"
            src="https://img.icons8.com/material-outlined/24/FFFFFF/delete-sign.png" alt="delete-sign" />
    </div>
    <form class="modal__form" action="{{ url_for('customers.add_paid_customer') }}" method="post">

        <!-- First Name -->
        <div class="modal_wrap">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="first_name" required>
        </div>

        <!-- Last Name -->
        <div class="modal_wrap">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="last_name" required>
        </div>

        <!-- Email -->
        <div class="modal_wrap">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>


        <!-- Phone -->
        <div class="modal_wrap">
            <label for="phone">Phone</label>
            <input type="tel" id="phone" name="phone" required>
        </div>

        <!-- State (Dropdown with all states and initials) -->
        <div class="modal_wrap">
            <label for="state">State:</label>
            <input type="text" id="state" name="state">
        </div>

        <!-- Gender Option -->
        <div class="modal_wrap">
            <label>Gender</label>
            <div class="modal_wrap--gender">
                <input class="radio" id='radio' type="radio" id="male" name="gender" value="male">
                <label id='gender' for="male">Male</label>
                <input class="radio" id='radio' type="radio" id="female" name="gender" value="female">
                <label id='gender' for="female">Female</label>

            </div>
        </div>

        <!-- Tours Dropdown -->
        <div class="modal_wrap">
            <label for="tour">Select a tour</label>
            <select class="tour-select" name="tour_date">
                {% for date in available_dates %}
                <option value="{{ date }}">{{ date }}</option>

                {% endfor %}
            </select>
        </div>

        <!-- Submit Button -->
        <div class="modal_wrap">
            <button class="modal_submit" type="submit">Create customer</button>
        </div>
        {% with messages = get_flashed_messages(category_filter=["customer_success"]) %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% with messages = get_flashed_messages(category_filter=["customer_exist"]) %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </form>


</div>



<!-- add new tour details or dates  -->
<div class="tour" id="tourForm">
    <div class="tour_header">
        <h2 class="tour_header--title">Add new tour</h2>
        <img class="tour_header--close" id="exit" width="24" height="24"
            src="https://img.icons8.com/material-outlined/24/FFFFFF/delete-sign.png" alt="delete-sign" />
    </div>

    <form class="tour_form" action="{{ url_for('customers.add_new_tours') }}" method="post">
        <div class="tour_wrap">
            <label for="first_name">Name</label>
            <input type="text" id="name" placeholder="(avoid: /!@#$%^&* )" name="name">
        </div>
        <div class="tour_wrap">
            <label for="start_date">Start Date</label>
            <input type="text" id="start_date" placeholder="e.g 2020-01-07" name="start_date">
        </div>
        <div class="tour_wrap">
            <label for="end_date">End Date</label>
            <input type="text" id="end_date" placeholder="e.g 2020-01-10" name="end_date">
        </div>
        <div class="tour_wrap">
            <label for="price">Price</label>
            <input type="number" id="price" name="price">
        </div>

        <div class="tour_wrap">
            <label>Type of Tour</label>
            <div class="tour_wrap--type">
                <input id="type" type="radio" name="tour_type" value="private">
                <label for="male">Private</label>
                <input type="radio" id="type" name="tour_type" value="group">
                <label for="female">Group</label>
            </div>

        </div>

        <div class="tour_wrap">
            <label for="destination">Choose Destination:</label>
            <select id="destination" name="destination">
                {% for destination in destinations %}
                <option value="{{ destination }}">{{ destination }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="tour_wrap">
            <button class="tour_submit" type="submit">Submit</button>
        </div>

        {% with messages = get_flashed_messages(category_filter=["tour_success"]) %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </form>
</div>





<!-- delete pop form  -->
<div id="deleteModal" style="display: none;">
    <!-- The modal content -->
    <div class="modal-content">

        <div class="delete-background">
            <h2 class="delete-title">Delete 1 Record?</h2>
            <img class="close" id="exit" width="24" height="24" onclick="closeModal()"
                src="https://img.icons8.com/material-outlined/24/FFFFFF/delete-sign.png" alt="delete-sign" />
        </div>
        <div class="delete-message">
            <p class="delete-message-1">You're about to delete 1 record. Deleted records can't be restored.</p>
            <p class="delete-message-2">Type <strong id="highlight">delete</strong> below to delete</p>
            <input type="text" id="deleteConfirmInput" oninput="validateDeleteInput(this)"
                placeholder="Type 'delete' to confirm">


            <form id="deleteConfirmForm" action="{{ url_for('customers.delete_customer') }}" method="post"
                style="display: none;">
                <input type="hidden" id="customerIdToDelete" name="customer_id" value="">
                <div class="delete-buttons">
                    <button class="delete-buttons-1" type="submit" id="confirmDeleteButton" disabled>Delete</button>
                    <button class="delete-buttons-2" type="button" onclick="closeModal()">Cancel</button>
                </div>

            </form>
        </div>



    </div>

</div>






<!-- update customer details form -->
<div id="updateModal" style="display: none;">
    <div class="modal-content">
        <div class="updatemodal-background">
            <h2 class="updatemodal-title">Edit Customer</h2>
            <img class="close-button" id="exit" width="24" height="24" onclick="closeModal()"
                src="https://img.icons8.com/material-outlined/24/FFFFFF/delete-sign.png" alt="delete-sign" />
        </div>
        <form class="updatemodal_form" action="{{ url_for('customers.send_update') }}" method="post">



            <input type="hidden" id="customerIdToUpdate" name="updatecustomer_id" value="">

            <!-- First Name -->
            <div class="updatemodal_container">
                <div class="updatemodal_wrap">
                    <label for="firstName">First Name</label>
                    <input type="text" id="updatefirstName" name="updatefirst_name" required>
                </div>

                <!-- Last Name -->
                <div class="updatemodal_wrap">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="updatelastName" name="updatelast_name" required>
                </div>
            </div>

            <div class="updatemodal_container">
                <div class="updatemodal_wrap">
                    <label for="email">Email</label>
                    <input type="email" id="updateemail" name="updateemail" required>
                </div>


                <!-- Phone -->
                <div class="updatemodal_wrap">
                    <label for="phone">Phone</label>
                    <input type="tel" id="updatephone" name="updatephone" required>
                </div>
            </div>
            <!-- Email -->

            <div class="updatemodal_container">
                <div class="updatemodal_wrap">
                    <label for="state">State</label>
                    <input type="text" id="updatestate" name="updatestate">
                </div>

                <!-- Gender Option -->
                <div class="updatemodal_wrap">
                    <label>Gender</label>
                    <div class="updatemodal_wrap_gender">
                        <input class="radio" id='updateradio' type="radio" id="male" name="updategender" value="male">
                        <label id='updategender' for="male">Male</label>
                        <input class="updateradio" id='updateradio' type="radio" id="female" name="updategender"
                            value="female">
                        <label id='updategender' for="female">Female</label>

                    </div>
                </div>
            </div>
         


           <!--  <div class="updatemodal_wrap">
                <label for="tour">Update a tour</label>
                <select class="tour-select" name="updatetour_date">
                    {% for date in available_dates %}
                    <option value="{{ date }}">{{ date }}</option>

                    {% endfor %}
                </select>
            </div>
 -->
            <!-- Submit Button -->
            <div class="updatemodal_wrap">
                <button class="updatemodal_submit" type="submit">Update</button>
            </div>

        </form>
    </div>
</div>



<!-- exporting file pop up form or container  -->

<div style="display:none;" id='export_form' class="export-container">



    <form class="exportForm" action="{{ url_for('exportingFile.export_file') }}" method="post">
        <div class="export-header">

            <h3>Export</h3>
            <img class="closeExport-button" id="exportClose" width="24" height="24" onclick="closeExportModal()"
                src="https://img.icons8.com/material-outlined/24/FFFFFF/delete-sign.png" alt="delete-sign" />

        </div>
        <div class="export-info-container">
            <div class="export-message">
                <p>The exported file will be emailed to {{login_user_email}} and will be available for download</p>
            </div>

            <div>
                <p>Exporting {{customers_total}} contacts </p>
            </div>

            <h3 class='export-header2'>Choose file format</h3>
            <select class="export-select"  id="option-select" name="export_file_type">
                <option value="csv">csv</option>
                <option value="excel">excel</option>
            </select>
            <br>
            <!-- <input type="submit" value="Submit"> -->
            <button class="export-submit" type="submit">Export now</button>
        </div>
    </form>


</div>












<div id="table-container">

    <div id="loadingSpinner" class="loading-spinner">
        <!-- Spinner graphic, simple example -->
        <div class="loader"></div>
    </div>

    
    <!-- Table Header -->
    <div id="table-header">
        <div id="customer-header">
            <h3 id="table-title">Customers</h3>
            <h3 id="total">{{"{:,}".format(customers_total)}} Records</h3>
        </div>

        <div id="table-action">
            <button id="createCustomerBtn">Create Customer</button>
            <button id="tourBtn">Create Tour</button>
        </div>
    </div>

    <!-- Search and Actions Container -->
    <div class="search-container">
        <form id="searchForm" class="search-form" action="{{ url_for('customers.home_page') }}" data-home-url="{{ url_for('customers.home_page') }}" method="post">
            <input id="searchInput" type="search" name="search_query" placeholder="Search name">
            <button class="search" type="submit">
                <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/FF914C/search--v1.png" alt="search-icon" />
            </button>
        </form>

        <div class="action-container">
            <div id="deleteButton" onclick="showModal()">
                <img id="delete-button-icon" width="16" height="16" src="https://img.icons8.com/small/16/FF914C/filled-trash.png" alt="delete-icon" />
                <p>delete</p>
            </div>

            <form action="{{ url_for('customers.get_customer_details') }}" method="get">
                <div id="updateButton" onclick="showUpdateModal()">
                    <img width="16" height="16" src="https://img.icons8.com/ios-filled/50/FF914C/create-new.png" alt="edit-icon" />
                    <input type="hidden" id="customerIdToUpdate" name="customer_id" value="">
                    <p>edit</p>
                </div>
            </form>
        </div>

        <div class="export-div">
            <button onclick="show_exportButton()" id="export_button" class="export">export</button>
        </div>
    </div>

    <!-- Static Table Header -->
    <table id="data-table">
        <thead id="table-head">
            <tr>
                <th id="select-box">
                    <input type="checkbox" class="delete-checkbox">
                    <label for="select-all"></label>
                </th>
                <th>Name</th>
                <th>Email</th>
                <th>State</th>
                <th>Phone Number</th>
                <th>Lead Status</th>
                <!-- <th>Tour</th>
                <th>Travel Year </th>
                <th>Tour Price</th>
                <th>Tour Type</th> -->
            </tr>
        </thead>
    </table>

    <!-- Scrollable Table Body -->
    <div class="table-container-scroll-bar">
        <table>
            <tbody id="table-body">
                {% if customers %}
                {% for customer in customers %}
                <tr>
                    <td>
                        <input type="checkbox" class="delete-checkbox" value="{{ customer[0] }}" id="delete-customer-{{ loop.index }}" onchange="toggleDeleteButton(this); updateCustomerDetails(this)">
                    </td>
                    <td>
                        <a href="{{ url_for('profiles.customer_profile', customer_id=customer[0]) }}">{{ customer[1].capitalize() }}</a>
                    </td>
                    <td>
                        <a href="mailto:{{ customer[3] }}"> {{ customer[3].lower() }}</a>
                    </td>
                    <td class="state">
                        {{ customer[2].upper() if customer[2] is not none else '' }}
                    </td>
                    <td>{{ format_phone_number(customer[4]) }}</td>
                    <td >{{ customer[5] }}</td>
                   <!--  <td>{{ customer[6] }}</td>
                    <td>{{ customer[7] }}</td>
                    <td>{{ customer[8] }}</td>
                </tr> -->
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="9" style="text-align:center;">No results found. Please try another search.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>














    <div class="pagination-controls">
        <ul class="pagination">
            <!-- Previous Page Button -->
            {% if page > 1 %}
            <li><a href="{{ url_for('customers.home_page', page=page-1) }}">Prev</a></li>
            {% else %}
            <li class="disabled"><span>Prev</span></li>
            {% endif %}

            <!-- Page Number Links -->
            {% for i in range(1, total_pages + 1) %}
            <li {% if i==page %}class="active" {% endif %}>
                <a href="{{ url_for('customers.home_page', page=i) }}">{{ i }}</a>
            </li>
            {% endfor %}

            <!-- Next Page Button -->
            {% if page < total_pages %} <li><a href="{{ url_for('customers.home_page', page=page+1) }}">Next</a></li>
                {% else %}
                <li class="disabled"><span>Next</span></li>
                {% endif %}
        </ul>

        <!-- Dropdown for items per page -->
        <select id="items-per-page" onchange="changeItemsPerPage(this)">
            <option value="10">10 per page</option>
            <option value="25" selected>25 per page</option>
            <option value="50">50 per page</option>
            <option value="100">100 per page</option>
        </select>
    </div>


</div>

{% endblock %}