{% extends "base.html" %}



{% block content %}

<div class="profile-container" >
  <div class="profile-avatar">
    <h1 class="profile-avatar-letter">{{profile[0].split()[0][0]+profile[0].split()[1][0]}}</h1>
  </div>
    <div class="profile-name">
      <h1>{{ profile[0] }}</h1> <!-- Assuming the first element is the full name -->
      <p> {{ profile[1] }}</p> <!-- Assuming the second element is the email -->
      <div class="profile-actions"onclick="openEmailForm()">
        <img width="40" height="40" src="https://img.icons8.com/ios/50/FF914C/circled-envelope.png" alt="circled-envelope"/>
      </div>
    </div>
   

    <h2 class="profile-title">Customer Information</h2>
    <div class="profile-info-container">
      <h4>Mobile:</h4>
      <p> {{ phone_number }}</p>
    </div>
    <div class="profile-info-container">
      <h4>Email: </h4>
    <p>{{ profile[1] }}</p> <!-- Assuming the fourth element is the state -->
    </div>
     <!-- Assuming the third element is the number -->
    <!-- No need for a second email -->
    <div class="profile-info-container">
      <h4>State: </h4>
    <p id="state-info">{{ profile[3] }}</p> <!-- Assuming the fourth element is the state -->
    </div>
    
    
    <h2 class="profile-title">Tours Booked</h2>
    <ul>
        {% for tour_name in tour_list %}
        <li>{{ tour_name }}    <span>{{profile[6]}}</span></li>
        {% endfor %}
    </ul>
    <div>

      <div class="revenue">
        <img  class="revenue-icon" width="48" height="48" src="https://img.icons8.com/fluency-systems-regular/48/03989e/stocks-growth.png" alt="stocks-growth"/>
        <div class="revenue-container">
          <p class="revenue-amt">${{ profile[5] }}</p>
          <p class="revenue-title" >Revenue Generated </p>
        </div>
         
      </div>
     
    </div>
   <!-- Assuming the sixth element is the total payment -->
   
</div>




{% for email in emails %}
<div class="email-container">
    <div class="email-header">
        <strong>Subject:</strong> {{ email['subject'] }}
        <form action="{{ url_for('send_emails.delete_email', email_id=email['email_id'],customer_id=customer_id) }}" method="POST" class="delete-form">
            <input type="hidden" name="email_id" value="{{ email['email_id'] }}">
            <input type="hidden" name="customer_id" value="{{ customer_id }}">
            <a href="#" onclick="event.preventDefault(); this.closest('form').submit();" class="delete-text-link">Delete</a>
        </form>
    </div>
    <div class="email-body">
      <p class="email-text"><small class="text-muted">Status: {{ email['status'] }} on {{ email['sent_date'] }}</small></p>
        <h5 class="email-title">Dear {{ profile[0] }},</h5>
        <p class="email-text">{{ email['body'] }}</p>
        
    </div>
    <div class="email-footer">
        Best regards,<br>
        Your Company Name
    </div>
</div>
{% endfor %}











<div id="emailForm"  class="email-form-container" style="display: none;">
  <!-- Close button -->
  
 <div class="email-title">
    <h2>Email</h2>
    <img class="email-close" id="exit" width="24" height="24" 
    src="https://img.icons8.com/material-outlined/24/FFFFFF/delete-sign.png" alt="delete-sign"  onclick="closeEmailForm()"/>
 </div>
  
  <form  action="{{ url_for('send_emails.send_customer_email') }}" method="post">
   
    <input type="hidden" name="customer_id" value="{{ customer_id }}">

    <!-- To Field -->
    <div class="form-group">
      <label for="toEmail">To</label>
      <input type="email" id="toEmail" name="to_email" placeholder="{{profile[0]  }}" required value="{{profile[1]  }}" readonly> <!-- Assuming you have customer_email variable -->
    </div>

    <!-- From Field (readonly or a label if it's a fixed value) -->
    <div class="form-group">
      <label for="fromEmail">From</label>
      <input type="email" id="fromEmail" name="from_email" value="kboadu16@gmail.com" readonly>
    </div>

    <!-- Subject Field -->
    <div class="form-group">
      <label for="emailSubject">Subject</label>
      <input type="text" id="emailSubject" name="subject" placeholder="Enter subject here" required>
    </div>

    <!-- Email Body -->
    <div class="form-group--body">
      <!-- <label for="emailBody">Body</label> -->
      <textarea id="emailBody" name="body" rows="10" placeholder="Write your message here" required></textarea>
    </div>

    <!-- Send Button -->
    <div class="form-group-submit">
      <button type="submit" class="send-email-button">Send Email</button>
    </div>
  </form>

  {% for message in messages %}

            <p>{{ message }}</p>
            {% endfor %}
</div>






<script>

function openEmailForm() {
    // Show the email form when the button is clicked
    document.getElementById('emailForm').style.display = 'block';
}


function closeEmailForm() {
  document.getElementById('emailForm').style.display = 'none';

}


</script>


{% endblock %}






















