
<!DOCTYPE html>
<html>
<head>
    <title>Customer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Segoe+UI:wght@400;600&display=swap" rel="stylesheet">


</head>
<body>

<div class="profile-container" >
    <h1>{{ profile[0] }}</h1> <!-- Assuming the first element is the full name -->
    <p>Email: {{ profile[1] }}</p> <!-- Assuming the second element is the email -->

    <h2>About Customer</h2>
    <p>Number: {{ profile[2] }}</p> <!-- Assuming the third element is the number -->
    <!-- No need for a second email -->
    <p>State: {{ profile[3] }}</p> <!-- Assuming the fourth element is the state -->
    
    <h2>Tours Booked:</h2>
    <ul>
        {% for tour_name in tour_list %}
        <li>{{ tour_name }}</li>
        {% endfor %}
    </ul>

    <p class="total-payment" >Revenue Generated: {{ profile[5] }}</p> <!-- Assuming the sixth element is the total payment -->
</div>

</body>
</html>
