{% extends "base.html" %}



{% block content %}


<!-- customer profile -->
<div class="customer-dashboard">
  <div class="profile-container">
    <div class="profile-avatar">
      <h1 class="profile-avatar-letter">{{profile[0].split()[0][0]+profile[0].split()[1][0]}}</h1>
    </div>
    <div class="profile-name">
      <div class="profile-name-container" onmouseover="showEditButton()" onmouseout="hideEditButton(event)">
        <h1>{{ profile[0] }}</h1>
        <img onclick="showUpdateNameForm()" style="display: none" class="edit" width="20" height="20" src="https://img.icons8.com/windows/32/FF914C/create-new.png" alt="create-new" onclick=""/>


      </div>
    
      <p> {{ profile[1] }}</p> <!-- Assuming the second element is the email -->
      <div class="profile-actions" onclick="openEmailForm()">
        <img title="SendEmail" width="40" height="40" src="https://img.icons8.com/ios/50/FF914C/circled-envelope.png"
          alt="circled-envelope" />
      </div>
    </div>


    <h2 class="profile-title">Customer Information</h2>
    <div class="profile-info-container" id="phoneForm"onmouseover="showPhoneEditButton()" onmouseout="phoneHideEditButton(event)">
      <h4>Mobile:</h4>
      <div class="phone-wrap">
      <p> {{ phone_number }}</p>
      <img onclick="showUpdatePhoneForm()" style="display: none" class="phoneEdit" width="20" height="20" src="https://img.icons8.com/windows/32/FF914C/create-new.png" alt="create-new" />

      </div>
      
    </div>
    <div class="profile-info-container"id="phoneForm"onmouseover="showEmailEditButton()" onmouseout="emailHideEditButton(event)">
      <h4>Email: </h4>
      <div class="phone-wrap">
        <p>{{ profile[1] }}</p>
        <img  style="display: none" class="emailEdit" width="20" height="20" src="https://img.icons8.com/windows/32/FF914C/create-new.png" alt="create-new" onclick="showUpdateEmailForm()"/> 

      </div>
      
    </div>
    <!-- Assuming the third element is the number -->
    <!-- No need for a second email -->
    <div class="profile-info-container">
      <h4>State: </h4>
      <p id="state-info">{{ profile[3] }}</p> <!-- Assuming the fourth element is the state -->
    </div>


    <h2 class="profile-title">Tours Booked</h2>
    <ul>
      {% for tour_name in tour_list %}
      <li>{{ tour_name }} <span>{{profile[6]}}</span></li>
      {% endfor %}
    </ul>
    <div>

      <div class="revenue">
        <img class="revenue-icon" width="48" height="48"
          src="https://img.icons8.com/fluency-systems-regular/48/03989e/stocks-growth.png" alt="stocks-growth" />
        <div class="revenue-container">
          <p class="revenue-amt">${{ profile[5] }}</p>
          <p class="revenue-title">Revenue Generated </p>
        </div>

      </div>

    </div>
    <!-- Assuming the sixth element is the total payment -->

  </div>





<!-- customer activity  -->
  <div class="email-activity">
    <div class="email-activity-header">
      <h2 class="email-activity-title">ACTIVITY</h2>
    </div>
    {% for email in emails %}


    <div class="email-activity-container">
      <div class="email-header">
        <div class="email-header-block">
          <strong>Email-</strong>
          <p class="subject"> {{ email['subject'] }}</p>
          <p class="from"> from Daniel Boadu</p>
          <img class="dropdown" width="16" height="16"
            src="https://img.icons8.com/windows/32/FF914C/circled-chevron-down.png" alt="circled-chevron-down"
            onclick="toggleEmailBody(this)" />
        </div>


        <form action="{{ url_for('send_emails.delete_email', email_id=email['email_id'],customer_id=customer_id) }}"
          method="POST" class="delete-form">
          <input type="hidden" name="email_id" value="{{ email['email_id'] }}">
          <input type="hidden" name="customer_id" value="{{ customer_id }}">
          <a href="#" onclick="event.preventDefault(); this.closest('form').submit();"
            class="delete-text-link">delete</a>

        </form>

      </div>
      <p class="email-text"><small class="text-muted">Status: {{ email['status'] }} on {{ email['sent_date'] }}</small>
      </p>
      <div class="email-body" style="display: none" id="body" ;>
        <p class="email-body-content">Dear {{ profile[0] }},</p>
        <p class="email-content">{{ email['body'] }}</p>
        <div class="email-footer">
          Best regards,<br>
          Africa Travellers
        </div>

      </div>

    </div>
    {% endfor %}
  </div>
</div>










<!-- sending email form -->

<div id="emailForm" class="email-form-container" style="display: none;">
  <!-- Close button -->

  <div class="email-title">
    <h2>Send Email</h2>
    <img title="Maximize"class="expand" width="32" height="32"
    src="https://img.icons8.com/windows/32/FFFFFF/circled-chevron-down.png" alt="circled-chevron-down"
      onclick="toggleEmailForm(this)" alt="expand" />
    <img class="email-close" id="exit" width="24" height="24"
      src="https://img.icons8.com/material-outlined/24/FFFFFF/delete-sign.png" alt="delete-sign"
      onclick="closeEmailForm()" />
  </div>

  <form class="sendEmail" style="display: block;" action="{{url_for('send_emails.send_customer_email') }}"
    method="post">

    <input type="hidden" name="customer_id" value="{{ customer_id }}">

    <!-- To Field -->
    <div class="form-group">
      <label for="toEmail">To</label>
      <input type="email" id="toEmail" name="to_email" placeholder="{{profile[0]  }}" required value="{{profile[1]  }}"
        readonly> <!-- Assuming you have customer_email variable -->
    </div>

    <!-- From Field (readonly or a label if it's a fixed value) -->
    <div class="form-group">
      <label for="fromEmail">From</label>
      <input type="email" id="fromEmail" name="from_email" value="bookings@africatravellers.com" readonly>
    </div>

    <!-- Subject Field -->
    <div class="form-group">
      <label for="emailSubject">Subject</label>
      <input type="text" id="emailSubject" name="subject" placeholder="Enter subject here" required>
    </div>

    <!-- Email Body -->
    <div class="form-group--body">
      <!-- <label for="emailBody">Body</label> -->
      <textarea id="emailBody" name="body" rows="10" placeholder="Write your message here" required></textarea>
    </div>

    <!-- Send Button -->
    <div class="form-group-submit">
      <button type="submit" class="send-email-button">Send Email</button>
    </div>
  </form>

  {% for message in messages %}
  <p>{{ message }}</p>
  {% endfor %}
</div>



<!-- updating customer profile forms  -->


<!-- update customer name form  -->
<div id="formContainer" class="hidden" style="display: none;"  >
  <img class="updateNameClose" onclick="closeUpdateNameForm()" width="16" height="16" src="https://img.icons8.com/material-outlined/24/000000/delete-sign.png" alt="delete-sign"/>
  <form class="update_customer_name" action="{{ url_for('profiles.customer_name') }}" method="post">
    <input type="hidden" id="customerId" name="customer_id" value="{{ customer_id }}">
    <!-- first name -->
    <div class="update_wrap"> 
      <div class="update_first_name">
        <label for="firstName">First Name</label>
        <input type="text" id="updatefirstName" name="updatefirst_name" value="{{ profile[0].split()[0] }}">
    </div>
    <!-- Last Name -->
    <div class="update_last_name">
        <label for="lastName">Last Name</label>
        <input type="text" id="updatelastName" name="updatelast_name" value="{{ profile[0].split()[1] }}">
    </div>


    </div>
   

    <div class="save" >
      <button type="submit" class="save_new_name">Save</button>
    </div>

     <!-- <div class="cancel">
      <button type="submit" class="save_new_name">cancel</button>
    </div> -->
</form>
</div>





<!-- update customer email form-->
<div id="emailformContainer" class="hidden" style="display: none;"  >
  <img class="updateEmailClose" onclick="closeUpdateEmailForm()" width="16" height="16" src="https://img.icons8.com/material-outlined/24/000000/delete-sign.png" alt="delete-sign"/>
  <form class="update_customer_email" action="{{ url_for('profiles.customer_email') }}" method="post">
    <input type="hidden" id="customerId" name="customer_id" value="{{ customer_id }}">
    <!-- primary email -->
    <div class="update_email">
        <label for="primary_email">primary email</label>
        <input type="text" id="update_email" name="update_email" value="{{profile[1]}}">
    </div>
  


    <div class="save">
      <button type="submit" class="save_new_name">Save</button>
    </div>

     
</form>

</div>




<!-- update customer phone -->
<div id="phoneformContainer" class="hidden" style="display: none;"  >
  <img class="updatePhoneClose" onclick="closeUpdatePhoneForm()" width="16" height="16" src="https://img.icons8.com/material-outlined/24/000000/delete-sign.png" alt="delete-sign"/>
  <form class="update_customer_phone" action="{{ url_for('profiles.customer_phone') }}" method="post">
    <input type="hidden" id="customerId" name="customer_id" value="{{ customer_id }}">
    <!-- primary email -->
    <div class="update_number">
        <label for="primary_email">phone number</label>
        <input type="text" id="update_phone" name="update_phone" value="{{ phone_number }}">
    </div>
  


    <div class="save">
      <button type="submit" class="save_new_name">Save</button>
    </div>

</form>

</div>



{% endblock %}