{% extends "base.html" %}





{% block content %}




<form action="{{ url_for('users.password_reset') }}" method="post">
  <div class="reset-form">
    <h2>Reset Password</h2>
    <div class="form-group">
      <label for="new-password">New Password</label>
      <input type="password" id="new-password" placeholder="New Password" name="new_password">
      <p>8-12 characters, uppercase, lowercase, numbers ,special character</p>
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm New Password</label>
      <input type="password" id="confirm-password" placeholder="Confirm New Password" name="confirm_password" >

    </div>
    <div class="form-group">
      <label>Please confirm your identity by providing your date of birth.</label>
    </div>
    <div>
    <button type="submit"  class="btn">Reset Password</button>
    </div>

      <ul>
      {% with messages = get_flashed_messages() %}
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      {% endwith %}
  </ul>

</form>

{% endblock %}