{% extends "base.html" %}





{% block content %}
  


   
   

<body>
    <div class="marketing-container">
        <div class="marketing_title">
            <h3 class="marketing_title--header">Create Costumer</h3>
    
        </div>
        <form class="marketing-form" action="{{url_for('marketing.create_marketingEmails') }}" method="post">
            <div class="marketing-form-group">
                <label for="dropdown">From name or address:</label>
                
                <select id="fromAddress" name="fromAddress" class="marketing-form-control">

                	{% for sender in senders %}
    		<option value="{{ sender[2] }}">{{ sender[0] }} {{ sender[1] }} ({{ sender[2] }})</option>
					{% endfor %}
                
                </select>



                <label for="dropdown">To customer type:</label>

                <select id="customerType" name="customerType" class="marketing-form-control">
                    <option value=1> All customers </option>

                       {% for year in customer_list_byYear %}
    					<option value="{{ year }}">{{ year}}</option>

						{% endfor %}
                   
                </select>



            </div>


            <div class="marketing-form-group">
                <label for="smallText">Email subject line:</label>
                <input type="text" id="emailSubject" name="emailSubject" class="subject-form-control">
            </div>
            <div class="marketing-form-group">
                <label for="largeText">Email Body:</label>
                <textarea id="emailBody" name="emailBody" class="body-form-control" rows="5"></textarea>
            </div>
            <button class="marketing-send" type="submit" class="btn">Send</button>
        </form>
    </div>
</body>
</html>


{% endblock %}